<launch>

  <arg name="UAV_NAME" default="uav46" />
  <arg name="RUN_TYPE" default="realworld" />

  <arg name="config" default="mrs/rosbag/pico_all" />

  <arg name="t265_frame" default="$(arg UAV_NAME)/t265/link" />
  <arg name="fcu_frame" default="$(arg UAV_NAME)/t265/fcu" />

    <!-- MASTER NODE -->
    <node name="mins_subscribe" pkg="mins" type="subscribe" output="screen" clear_params="true" required="true">
        <param name="config_path"       type="str"  value="$(find mins)/config/$(arg config)/config.yaml" />
    </node>

  <node pkg="nodelet" type="nodelet" name="depth_to_cloud"
        args="standalone depth_image_proc/point_cloud_xyz">
    <remap from="camera_info" to="/$(arg UAV_NAME)/picoflexx_back/camera_info"/>
    <remap from="image_rect" to="/$(arg UAV_NAME)/picoflexx_back/image_depth"/>
    <remap from="points" to="$(arg UAV_NAME)/picoflexx_back/points"/>
  </node>

  <include file="$(find mrs_pcl_tools)/launch/pcl_filter.launch">

    <arg name="UAV_NAME" value="$(arg UAV_NAME)" />
    <arg name="custom_config" value="$(find mins)/config/$(arg config)/pcl_depth_filter_config.yaml" />

  </include>

  <include file="$(find mins)/launch/mrs/point_cloud_manager.launch">

    <arg name="UAV_NAME" value="$(arg UAV_NAME)" />
    <arg name="RUN_TYPE" value="$(arg RUN_TYPE)" />
    <arg name="custom_config" value="$(find mins)/config/$(arg config)/point_cloud_manager.yaml" />

  </include>

  <node pkg="tf2_ros" type="static_transform_publisher" name="t265_to_fcu_tf" args="-0.055 0.0 -0.065 0.0 0.0 0.0 $(arg t265_frame) $(arg fcu_frame)" />

  <include file="$(find mins)/launch/mrs/filter_t265.launch">

    <arg name="UAV_NAME" value="$(arg UAV_NAME)" />

  </include>

  <group ns="$(arg UAV_NAME)" >
    <node name="imu_transformer" pkg="imu_transformer" type="imu_transformer_node" output="screen" >
      <param name="target_frame" type="str" value="$(arg fcu_frame)" />

        <remap from="imu_in/data" to="vio_imu/imu_filtered_t265" />
        <remap from="imu_out/data" to="vio_imu/imu_filtered_fcu" />
    </node>
  </group>

</launch>
